.animated-text {

    span { position: relative; }

    span::before {
        content: "Youtuber";
        color: #aaa;
        animation: words 20s infinite;
    }

    span::after {
        content: "";
        position: absolute;
        width: calc(100% + 8px);
        height: 110%;
        background-color: #000;
        right: -8px;
        animation: cursor .8s infinite, typing 24s steps(14) infinite;
    }

    @keyframes cursor {
        to {
            border-left: 2px solid #ff7f5000;
        }
    }

    @keyframes words {
        0%,20%{
            content: "A passionate developer";
        }
        21%,40%{
            content: "I create pleasing and modern software";
        }
        41%,60%{
            content: "change later";
        }
        61%,80%{
            content: "change later";
        }
        81%,100%{
            content: "I build things with code and heart";
        }
    }
    
    @keyframes typing {
        10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
            width: 0;
        }
        5%,20%,25%,40%,45%,60%,65%,80%,85%{
            width: calc(100% + 8px);
        }
    }
}

$green: #137d6f;
$grey: #313131;

.button {
  background: transparent;
  border: 3px solid #8b31ff;
  color: white;
  display: inline-block;
  overflow: hidden;
  padding: 8px 16px;
  position: relative;
  text-decoration: none;
  font-size: 1.7rem;
  transition: 0.4s ease;
  z-index: 1;
  &:before,
  &:after {
    background: $grey;
    transition: 0.3s ease;
    content: '';
    position: absolute;
    z-index: -1;
  }
}

.diagonal-tl-br-out {
  background: #8b31ff;
  &:before,
  &:after {
    background: #120e16;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg);
    width: 175%;
  }
  &:before {
    left: -120%;
  }
  &:after {
    right: -120%;
  }
  &:hover {
    &:before,
    &:after {
      width: 100%;
    }
  }
}

.emphasize {
  background: none;
  text-decoration: inherit;
  font-family: system-ui;
  font-size: 1rem;
  color: white;  
}

.border-gradient {
  border: 10px solid;
  border-radius: 10px;
  border-image-slice: 1;
  border-width: 8px;
}

.border-gradient-green {
  border-image-source: linear-gradient(90deg, #9f55ff, #7000ff)
}

.only-top {
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.btn-header {
  background-image: linear-gradient(90deg, #9f55ff, #7000ff);
}