.animated-text {
    min-width: 280px;
}

.animated-text span {
    position: relative;
}

.animated-text span::before {
    content: "Youtuber";
    color: #aaa;
    animation: words 20s infinite;
}

.animated-text span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 110%;
    background-color: #120e16;
    right: -8px;
    animation: cursor .8s infinite, typing 24s steps(14) infinite;
}

@keyframes words {
    0%,20%{
        content: "A passionate developer";
    }
    21%,40%{
        content: "I create pleasing and modern software";
    }
    41%,60%{
        content: "change later";
    }
    61%,80%{
        content: "change later";
    }
    81%,100%{
        content: "I build things with code and heart";
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}


button {
    font-size: 1.7rem;
    padding: 8px 16px;
    color: #fff;
    border: 3px solid #8b31ff;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  button:hover {  
  color: white;
  }
  button::after {
    content: "";
    background: #8b31ff;
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
  }
  button[class^="grow"]::after {
    transition: all 0.4s ease;
  }
  button[class^="grow"]:hover::after {
    transition: all 0.4s ease-out;
  }
  button.grow_skew_forward::after {
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
  }
  button.grow_skew_forward:hover::after {
    transform: skewX(-45deg) scale(1, 1);
  }